*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.logo p{
    color: white;
    position: relative;
    top: -5px;
    }
    .expl{
        color:white;
    }
.pluscol
    {
        color:yellow;
        font-weight: 900;
    }
    .search{
        background-color: white;
        padding: 10px;
        width: 420px;
        height:40px;
        margin: 0px 15px;
        display: flex;
        justify-content:space-between;
        color: #1b5ec9;
        box-shadow: -7px -7px 10px rgba(0,0,0,0.1),7px 7px 10px rgba(0,0,0,0.1);
        border-radius: 2px;
    }
    .search input{
        width: 380px;
        outline: none;
        border: none;
        font-size: 16px;
    }
    .btn{
        padding: 7px 40px;
        font-size: 16px;
        font-weight: 550;
        border: none;
        outline: none;
        background-color: white;
        color: #2874f0;
    }
   
    .navlink{
        margin: 0px 20px;
        font-size: 18px;
        color:white;
        text-decoration: none;
    }
    .angledownlink i{
        font-size:10px;
        

    }
    ul{
        display: flex;
    }
    ul li a{
        margin-inline: 25px;
        font-size: 18px;
        list-style: none;
    }
    .topproductnavbar{
        height:100px ;
        display:flex;
        justify-content: center;
        padding:10px 50px;
        border-bottom:1px solid #ccc ;
       
    }
        .topproductnavbarnav{
        height: 100px;;
        width:80px;
        cursor: pointer;
        flex: 1;
    }
    .topproductnavbarnav img{
        height:64px;
        width:64px;
    }
    .topproductnavbarnav p{
        font-weight: 510;
        text-align: left;
    }
    .carousel-item{
        height: 600px;
        width: 100%;
        position:relative;
    }
    /* .mobile-container{
        background-color: red;
        height: 350px;
    } */
    .one,.Two,.Three,.four{
        height: 300px; 
        width:100%; 
       
        border: 2px solid white;
        text-align: center;
        padding: 10px;
        flex:1;
    }
    .one{
        text-align: center;
        align-content: center;
        background-color: white;
    }
    .Two{
    flex:2
    }
    .container{
   vertical-align: bottom;
       
        display:flex;
        height: 400px;

        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around;
        align-items:flex-end;
        
        flex-wrap: wrap;
        }
    .card{
        width: 100px;
        height: 420px;
        text-align: center;
        outline: none;
     

        display: flex;
        border: none;
    }